@font-face {
  font-family: 'srgssr-type-md';
  src: url(../../fonts/srgssr-type-md.ttf);
}

$progressHeight: 3px;
$progressFontSize: 1.4em;
$progressBorderRadius: 2px;
$controlBarHeight: 62px;


.vjs-srgssr-skin {
  font-family: srgssr-type-md;

  .vjs-time-control {
    font-size: $progressFontSize;
    line-height: inherit;
  }

  .vjs-control {
    height: auto;
  }

  .vjs-control-bar {
    position: absolute;
    bottom: 0px;
    opacity: 1;
    width: 100%;
    height: $controlBarHeight;
    color: #fff;
    display: grid;
    grid-template-columns: 20px 40px 40px auto 0fr 0fr 20px;
    grid-template-rows: 2px 0fr 1fr 2px;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }

  .vjs-control-bar:hover .srg-segment-container {
    opacity: 1;
  }

  .vjs-play-control {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .vjs-volume-panel {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: start;
  }

  .vjs-progress-control {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100% !important;
    height: 7px;
  }

  .vjs-progress-holder {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    height: $progressHeight;
    border-radius: $progressBorderRadius;
  }

  .vjs-load-progress {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: $progressHeight;
    border-radius: $progressBorderRadius;
  }

  .vjs-play-progress {
    background-color: rgba(255, 255, 255, 1);
    height: $progressHeight;
    border-radius: $progressBorderRadius;
    position: relative;
    z-index: 1;

    .vjs-time-tooltip{
      display: none;
    }

  }

  .vjs-mouse-display .vjs-time-tooltip {
     background-color: rgba(255, 255, 255, 0.8);
     color: #000;
   }

  .vjs-current-time,
  .vjs-time-divider,
  .vjs-duration {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: block !important;
  }

  .vjs-fullscreen-control {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    display: block !important;
  }

  .vjs-fullscreen-control {
    justify-self: end;
  }

  .vjs-current-time {
    margin-right: 40px;
  }

  .vjs-duration {
    margin-left: 50px;
  }

  .vjs-slider-horizontal .vjs-volume-level:before {
    top: -0.35em;
    right: -0.5em;
    font-size: 1.3em !important;
  }

  .vjs-play-progress::before {
    font-size: 1.6em;
    top: -0.41em;
  }

  .vjs-play-progress .vjs-time-tooltip {
    display: none !important;
  }

  .vjs-progress-control:hover .vjs-progress-holder {
    .vjs-mouse-display .vjs-time-tooltip {
      font-size: 1em;
    }
  }

  .vjs-progress-control:hover .vjs-progress-holder.disabled {
    .vjs-mouse-display .vjs-time-tooltip {
      font-size: 1em;
    }
  }

  .vjs-progress-holder {
    transition: none;
  }

  .vjs-progress-control:hover .vjs-progress-holder {
    font-size: inherit;
  }

  .vjs-progress-control:hover .vjs-time-tooltip,
  .vjs-progress-control:hover .vjs-progress-holder:focus {
    .vjs-mouse-display .vjs-time-tooltip {
      display: block;
      visibility: visible;
    }
  }

  .vjs-big-play-button {
    font-size: 5em;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0!important;
    border: none!important;
    top: 0!important;
    left: 0!important;

    .vjs-icon-placeholder:before {
      top:50%;
      left:50%;
      transform: translate(-50%, -50%) !important;
      width: auto;
      height: auto;
    }
  }

  .video-js .vjs-big-play-button .vjs-icon-placeholder:before,
  .vjs-button > .vjs-icon-placeholder:before {
    position: relative;
  }

}





