@font-face {
  font-family: 'srgssr-type-md';
  src: url(../../fonts/srgssr-type-md.ttf);
}

$progressHeight: 3px;
$progressFontSize: 1.4em;
$progressBorderRadius: 2px;
$controlBarHeight: 80px;

.video-js {
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
}

.vjs-button > .vjs-icon-placeholder:before {
  font-size: 2.2em;
  line-height: 1.67;
}

.vjs-srgssr-skin {
  font-family: srgssr-type-md;
  position: absolute !important;

  video {
    width: 100% !important;
    height: auto !important;
    position: initial !important;
  }

  .vjs-time-control {
    font-size: $progressFontSize;
    line-height: inherit;
  }

  .vjs-control {
    height: auto;
  }

  .vjs-control-bar {
    position: absolute;
    bottom: 0px;
    opacity: 1;
    width: 100%;
    height: $controlBarHeight;
    color: #fff;
    display: grid;
    grid-template-columns: 20px 40px 40px auto 40px 80px 30px;
    grid-template-rows: 2px 20px auto 5px;
    align-items: center;
    justify-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    .vjs-progress-control {
      grid-column: 2 / span 5;
      grid-row: 2;

      display: grid;
      position: relative;
      left: 0;
      right: 0;
      width: 100%;
      min-height: 20px;

      grid-template-columns: 4fr auto;
      grid-template-rows: 2px 1fr 1px;
      align-items: center;
      grid-row-gap: 5px;

      .vjs-progress-holder {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .vjs-seek-to-live-control {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 5px;
        min-width: initial;
        justify-items: end;
        padding: 0;
      }
    }

    .vjs-srgssr-button {
      grid-column-start: 6;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 3;
      justify-self: end;
      display: block !important;
      width: 66px;
    }

    .vjs-play-control {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
      justify-items: start;
    }

    .vjs-volume-panel {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 3;
      justify-self: start;
    }

    .vjs-fullscreen-control {
      grid-column-start: 5;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 3;
      justify-self: end;
      display: block !important;
    }

    .vjs-srgssr-button {
      grid-column-start: 6;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 3;
      justify-self: end;
      display: block !important;
      width: 66px;
    }

    .vjs-current-time,
    .vjs-time-divider,
    .vjs-duration {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 3;
      display: block !important;
      justify-self: center !important;
    }
  }

  .vjs-control-bar:hover .srg-segment-container {
    opacity: 1;
  }

  .vjs-progress-holder {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    height: $progressHeight;
    border-radius: $progressBorderRadius;
  }

  .vjs-load-progress {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: $progressHeight;
    border-radius: $progressBorderRadius;
  }

  .vjs-play-progress {
    background-color: rgba(255, 255, 255, 1);
    height: $progressHeight;
    border-radius: $progressBorderRadius;
    position: relative;
    z-index: 1;

    .vjs-time-tooltip {
      display: none;
    }
  }

  .vjs-mouse-display .vjs-time-tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
  }

  .vjs-fullscreen-control {
    justify-self: end;
  }

  .vjs-current-time {
    margin-right: 40px;
  }

  .vjs-duration {
    margin-left: 50px;
  }

  .vjs-slider-horizontal .vjs-volume-level:before {
    top: -0.35em;
    right: -0.5em;
    font-size: 1.3em !important;
  }

  .vjs-play-progress::before {
    font-size: 1.6em;
    top: -0.41em;
  }

  .vjs-play-progress .vjs-time-tooltip {
    display: none !important;
  }

  .vjs-progress-control:hover .vjs-progress-holder {
    .vjs-mouse-display .vjs-time-tooltip {
      font-size: 1em;
    }
  }

  .vjs-progress-control:hover .vjs-progress-holder.disabled {
    .vjs-mouse-display .vjs-time-tooltip {
      font-size: 1em;
    }
  }

  .vjs-progress-holder {
    transition: none;
  }

  .vjs-progress-control:hover .vjs-progress-holder {
    font-size: inherit;
  }

  .vjs-progress-control:hover .vjs-time-tooltip,
  .vjs-progress-control:hover .vjs-progress-holder:focus {
    .vjs-mouse-display .vjs-time-tooltip {
      display: block;
      visibility: visible;
    }
  }

  .vjs-big-play-button {
    font-size: 5em;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0 !important;
    border: none !important;
    top: 0 !important;
    left: 0 !important;

    .vjs-icon-placeholder:before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      width: auto;
      height: auto;
    }
  }

  .video-js .vjs-big-play-button .vjs-icon-placeholder:before,
  .vjs-button > .vjs-icon-placeholder:before {
    position: relative;
  }

  &.video-js .vjs-modal-dialog {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.46262254901960786) 47%, rgba(0,0,0,1) 100%);
    overflow: auto;
  }

  .error-display-text-content{
    margin-top: 30%;
  }

  @mixin getErrorIconSVG($value) {
    &:before{
      font-family: VideoJS;
      font-weight: normal;
      font-style: normal;
      content: $value;
      top: 45%;
    }
  }

  $errorPrefix: modal-dialog-icon-;
  .#{$errorPrefix} {
    &DRM {
      @include getErrorIconSVG('\f127');
    }
    &MEDIA {
      @include getErrorIconSVG('\f126');
    }
  }

  &.vjs-has-started.vjs-paused.vjs-show-big-play-button-on-pause .vjs-big-play-button {
    display: block;
    .vjs-icon-placeholder {
      display: block;
      animation: bigPlayButtonIconOpening 1s 0s 1;
    }
  }

  @mixin setTransition($visibility, $opacity, $bottom) {
    transition: visibility $visibility , opacity $opacity , bottom $bottom;
  }

  &.vjs-has-started .vjs-control-bar {
    visibility: visible;
    opacity: 1;
    bottom: 0px;
    transition-timing-function: ease-out;
    @include setTransition(0.5s, 0.5s, 0.3s);
  }

  &.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    visibility: visible;
    opacity: 0;
    bottom: -80px;
    transition-timing-function: ease-out;
    @include setTransition(1s, 1s, 2s);
  }
}

.vjs-live .vjs-control-bar {
  .vjs-time-divider,
  .vjs-duration {
    display: none !important;
  }
}

@mixin getBuSVG($path) {
  .vjs-icon-placeholder:before,
  .vjs-icon-placeholder {
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
  }
  .vjs-icon-placeholder:before {
    content: url($path);
  }
}

$prefix: vjs-srgssr-;
.#{$prefix} {
  &rts {
    @include getBuSVG('../assets/svg/play-rts.svg');
  }

  &srf {
    @include getBuSVG('../assets/svg/play-srf.svg');
  }

  &rsi {
    @include getBuSVG('../assets/svg/play-rsi.svg');
  }

  &rtr {
    @include getBuSVG('../assets/svg/play-rtr.svg');
  }

  &swi {
    @include getBuSVG('../assets/svg/play-swi.svg');
  }
}


@keyframes bigPlayButtonIconOpening {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    transform: scale(2);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bigPlayButtonIconClosing {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes bigPlayButtonClosing {
  from {
    min-height:none;
    max-height:none;
  }
  to {
    min-height: 0;
    max-height: 0;
  }
}







