$progressHeight: 2px;
$progressColor: rgba(139, 139, 139, 1);

body{
  background-color:grey;
}

.controlBar{
  position:relative;
  width:400px;
  height:10px;
  margin:10px;
  margin-left:20px;

}

.vjs-srg-seek-bar{
  position:relative;
  width:100%!important;
  min-height:20px;
  background-color:transparent;

  .progressFake{
    width:100%;
    height: $progressHeight;
    background: blue;
    padding-left: 5px;
    padding-right: 5px;
    left: -5px;
  }


  .progress {
    width:100%;
    height: $progressHeight;
    background: $progressColor;
  }

  //.loadProgress {
  .vjs-load-progress {
    width: 100px;
    height: $progressHeight;
    background: deeppink;
  }

  //.playProgress {
  .vjs-play-progress {
    //width:100%;
    height: $progressHeight;
    background: blue;
  }

  //.playProgress::before {
  .vjs-play-progress::before {
    content: " ";
    position: absolute;
    //width:10px;
    background: blue;
    height: $progressHeight;
    margin-left:-5px;
  }

  .playProgress::after {
    content: " ";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    right: 0 !important;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: -7px;
  }

}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
